.circle {
   border-radius: 50%;
   height: 50px;
   width: 50px;
}

g.rd3-linechart-xaxis text,
g.rd3-linechart-yaxis text {
    fill: white !important;
}

.rd3-legend-item {
    display: none !important;
}

.semaphore-container {
    background-color: black;
    padding: 10px 5px 5px 40px !important;
}
